.form{
    margin: 2rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;  
}

.register-form, .login-form{
    background-color: #3f5657;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    width: 30%;
    margin: auto;  
}

.logrow1{
    margin: 1.5rem 0;
}

.logcol1{
    margin: 1rem 0;
}

form input{
    padding: 1rem;
    border-radius: 1rem;
    background-color: #c5c2c29f;
    width: 80%;
   
}

form input ::placeholder{
    color: rgb(0, 0, 0);
}

form input[type="submit"]{ 
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #047478;
    width: 40%;
    color: #fff;
   
} 

.pro{
    margin: 2rem 0 1rem;
    font-size: 15px;
    color: rgb(199, 230, 230);
   
}

