footer {
    background-color: #002628;
    padding: 100px 0;
    color: #fff;
  }
  footer h1 {
    margin-bottom: 30px;
    color: #e94560;
    font-weight: 800;
    font-style: italic;
  }
  footer .img {
    background-color: #047478;
    padding: 0.5rem ;
    border-radius: 5px;
  }
  footer .img i {
    font-size: 20px;
    margin: 5px;
  }
  footer .img span {
    margin-top: 5px;
  }
  footer p {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  footer h2 {
    margin-bottom: 20px;
  }
  footer li {
    margin-bottom: 10px;
    opacity: 0.5;
  }

  .boxx{
    
    padding: 1rem;
    margin-right: 2rem;
  }