.home {
    margin-top: 2rem;
}
.homeSlide {
    background-color: #3f5657;
    border-radius: 1rem;
}

.homeSlide h1 {
    font-size: 2.8rem;
    line-height: 55px;
    margin: 2.5rem 1rem;
  }
  
  .homeSlide p {
    margin: 1rem 1rem;
  }

  .homeSlide ul {
    position: absolute;
    bottom: 20px;
  }

  .homeSlide ul li {
    border: 2px solid #b8b7b7;
    border-radius: 50%;
    padding: 10px;
  }

  .homeSlide ul li button {
    background: transparent !important;
    color: transparent !important;
    
  }

  .homeSlide ul li button::before {
    font-size: 15px !important;
    color: #eaedf1;
    position: absolute;
    top: 2px;
    left: 0;
    margin: auto;
  }

  .homeSlide .box {
    display: flex !important;
    margin-bottom: 5rem;
  }

  .homeSlide .box .left {
    width: 70%;
  }
  .homeSlide .box .right {
    width: 30%;
  }

  .homeSlide .box img {
    width: 100%;
    height: 100%;
  }