.order {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  table {
    border: 5px solid rgb(3, 61, 61);
    width: 900px;
    height: 400px;
    margin-right: 10%;
  }
    
  th {
    border-bottom: 1px solid rgb(199, 230, 230);
  }
    
  td {
    text-align: center;
    border-bottom: 1px solid #3f5657;
    /*border-bottom:1px solid rgb(199, 230, 230); */
  }
  h3{
   
    margin-right: 10%;
    font-size: 30px; 
    margin-bottom: 30%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
   }