@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(58, 63, 63);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.background{
    background-color: aqua;
    padding: 50px 0;
}

.container {
    max-width: 90%;
    margin: auto;
}

.d_flex {
    display: flex;
    justify-content: space-between;
}

.c_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f_flex {
    display: flex;
}

a {
    text-decoration: none;
    color:rgb(254, 255, 255)
}

li {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.RText{
    text-align: right;
}

input, button {
  border: none;
  outline: none;
  background-color: none;
}

.row {
  width: 50%;
}

.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #3d5354fa;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}

.boxShadow{
  box-shadow: rgb(43 52 69 /10%) 0 4px 16px;
}